{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Luciano Nicolas Mellone</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, culpa quas? Illum, repellat, accusantium sunt blanditiis laboriosam veniam ad deleniti mollitia debitis error eaque, sed suscipit quae architecto minus minima!</p>
<h1>Lucas Piccolini</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus libero totam, laudantium saepe fugiat distinctio. Eaque omnis laborum nobis accusamus asperiores exercitationem veniam illum quisquam tenetur. Doloremque perspiciatis quis vitae?</p>   
<h1> Lorenzo Monti Azpiazu</h1> 
<p>Buenas mi nombre es Lorenzo Monti Azpiazú, tengo 24 años y actualmente soy un jugador de futbol que le gusta mucho el mundo de la programación y le encantaria seguir instruyendose para el futuro adquiriendo nuevos conocimientos y afrontando nuevos retos!</p>

{% endblock contenidoQueCambia %}