{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Búsqueda de bares:</h2>

    
    <ul>
        {% for bar in listabares %}
            <li>{{bar.nombre}} - {{bar.email}} - {{bar.telefono}}</li>
        {% endfor %}
    </ul>
        

    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <!-- Ir a agregar bar-->
    <p><a href="{% url 'bar_formulario' %}">Agregar bar</a></p>

{% endblock contenidoQueCambia %}