{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" id="titulo-listas">Búsqueda de restaurantes:</h2>

<h4>Estos son los restaurante disponibles</h4>

<ul>
    {% for restaurante in listarestaurantes %}
        <li><strong>{{restaurante.nombre}}</strong> - {{restaurante.email}} - {{restaurante.telefono}}</li>
    {% endfor %}
</ul>

<p><a href="{% url 'restaurante_formulario' %}">Agregar heladeria</a></p>

{% endblock contenidoQueCambia %}